#signup {
    padding: 8px 16px !important;
    margin: 5px
}

#login {
    padding: 8px 16px !important;
}

#login:hover {
    background-color: black !important;
    color: white !important;
}

#signup:hover {
    background-color: black !important;
    color: white !important;
}

#connect #home #branding {
    text-decoration: none !important;
}

.hero h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;

}

.hero {
    height: 80vh;
    background-image: url('https://drive.google.com/uc?export=view&id=1Uxr_Us1ge6YUHjfBfdaER8zgeHfWVA8A');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#title {
    font-family: 'Bangers', cursive;
    font-size: 6rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    bottom: 50%;
    position: absolute;
}

.map {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-top:30px;
}

.form-control {
    width: 50% !important;
    margin: 20px auto !important;
    display: block;
}


input:focus, select:focus {
    box-shadow: 0 0 10px black !important;
    border-color: black !important;
}

h2 {
    font-family: 'Bangers', cursive;
    font-size: 3rem !important;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

p {
    font-family: 'Anek Devanagari', sans-serif;
}
